.rightbar{
    flex: 3.5;
    background-color: rgb(255, 255, 255);
}

.rightbarAd{
    width: 95%;
    border-radius: 10px;
    margin-top: 15px;
}

.rightbarTitle{
    margin-top: 20px;
    margin-bottom: 20px;
}

.rightbarFriendList{
    padding: 0;
    margin: 0;
    list-style: none;
}

.rightbarFriend{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.rightbarProfileImgcontainer{
    margin-right: 10px;
    position: relative;
}

.rightbarProfileImg{
width: 40px;
height: 40px;
border-radius: 50%;
object-fit: cover;
}

.rightbarOnline{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: limegreen;
    position:absolute;
    top: -2px;
    right: 0;
    border: 2px solid white;
}

.rightbarUsername{
    font-weight: 700;
}

.rightbarTitle{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}

.rightbarInfo{
    margin-bottom: 30px;
}

.rightbarInfoItem{
    margin-bottom: 10px;
}

.rightbarInfoKey{
    font-weight: 700;
    margin-right: 15px;
}

.rightbarInfoValue{
    font-weight: 300;
}

.rightbarFollowings{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.rightbarFollowing{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    cursor: pointer;
}

.rightbarFollowingImg{
    width: 100px;
    height: 100px;
    border-radius: 5px;
    object-fit: cover;
}

.rightbarFollowButton{
    margin-top: 30px;
    margin-bottom: 10px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.rightbarFollowButton:hover{
    background-color: rgb(45, 45, 45);
}

.rightbarFollowButton:focus{
    outline: none;
    
}